.container img{
    max-width: 20%;
}
.container {
    display: flex;
    justify-content: space-between;
}
.container button{
    background-color: red;
    color: white;
    border: none;
    margin: 50px 0px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}